@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@400;500;600;700&display=swap");
.custom-shadow {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  /* x: 0, y: 0, blur: 20, warna item, opacity 50% */
}

input[type="number"] {
  outline: none;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.needle-container {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin: 20px auto;
  background-size: 100%;
  position: relative;
}

.result {
  position: absolute;
  top: 25%;
  left: 36%;
  background: white;
  z-index: 2;
}

.ind1 {
  position: relative;
  top: 27%;
  left: -20%;
  z-index: 2;
}

.ind2 {
  position: relative;
  top: 13%;
  z-index: 2;
}

.ind3 {
  position: relative;
  top: 19%;
  left: 20%;
  z-index: 2;
}

.akg {
  position: relative;
  top: -15%;
  z-index: 2;
}
