/* src/components/Slider.css */

.mySwiper {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  font-size: 60px;
  color: white;
  border-radius: 10px;
}
